/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */
 
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */


/*
Polar Night
nord0  #2e3440
nord1  #3b4252
nord2  #434c5e
nord3  #4c566a
Snow Storm
nord4  #d8dee9
nord5  #e5e9f0
nord6  #eceff4
Frost
nord7  #8fbcbb
nord8  #88c0d0
nord9  #81a1c1
nord10 #5e81ac
Aurora
nord11 #bf616a
nord12 #d08770
nord13 #ebcb8b
nord14 #a3be8c
nord15 #b48ead
*/

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
 
/* Reset all styles */

* {
    color: #eceff4;
    border: 0;
    border-radius: 0;
    padding: 0 3px;
    font-family:Symbols Nerd Font Mono;
    font-size: 14px;
    margin: 2px 2px;
    /* padding-bottom:2px; */
   }

window#waybar {
    background:rgba (0, 0, 0, 0);
    /* border-radius: 20px 20px 20px 20px;  */
}

#workspaces button {
    background: rgba(224, 224, 224, 0.2);
    border-radius: 14px;
    padding: 2px 3px;
    border: 1px;
    border-top: 0px;
    color: #eceff4;
    border-color: #868686;
    border-style: solid;
    margin-top:2px;
}

#workspaces button.active {
    background: rgba(224, 224, 224, 0.2);
    border-radius: 14px;
    border-color: #d8dee9;
}

/* #workspaces button.focused { */
/*     background: #8f00fe; */
/*     color: #8f00fe; */
/* } */

#workspaces button:hover {
    background: rgba(143, 0, 255, 0.2);
    /* color: #8f00fe; */
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #pulseaudio, #tray, #window,#custom-launcher,#custom-power,#custom-updates ,#custom-network_traffic,#custom-weather{
    background: rgba(224, 224, 224, 0.2);
    border-radius: 14px;
    padding: 0 8px;
    border: 1px;
    border-top: 0px;
    border-color: #868686;
    border-style: solid;
}
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 
#clock {
 color:#d8dee9;
}

#backlight {
    color: #d8dee9;
}

#battery {
    color: #d8dee9;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #a3be8c;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color:#d8dee9 ;
}

#memory {
    color: #d8dee9;
}

#network.disabled {
    color:#d8dee9;
}

#network{
    color:#d8dee9;
}

#network.disconnected {
    color: #d8dee9;
}

#pulseaudio {
    color: #d8dee9;
}

#pulseaudio.muted {
    color: #d8dee9;
}

#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#idle_inhibitor {
   color: #d8dee9;
}

#tray {
}

#custom-launcher{
        font-size: 12px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 14px;
        border-width: 2px;
        border-color: #d8dee9;
        /* background-image: url('/home/burak/.config/waybar/launcher.png'); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        /* border-style: hidden; */
}

#custom-power{
    /* border-style: hidden; */
    margin-top:2px;    
}

#custom-network_traffic{
    color:#d8dee9;
}

#window{
    border-style: hidden;
    margin-top:1px;  
}    
#custom-keyboard-layout{
   color:#d08770;
}   



